@{
    ViewBag.Title = "Home Page";
}
		
<card class="card">
	<nav class="navbar navbar-light bg-light navbar-expand-lg">
  <h3>ADMIN</h3>		
    <ul class="navbar-nav mr-0 ml-5">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Configuraciones
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#"  data-toggle="modal" data-target="#modalInstitucion" >Instituciones</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#modalTarjetas" >Tarjetas</a>
        </div>
      </li>
    </ul>
</nav>	
</card>

<div class="modal  fade" id="modalInstitucion" tabindex="-1" role="dialog" aria-labelledby="modalInstitucio" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Instituciones</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		  <div class="form-group">
			<label for="institucion" class="d-block ">Institución</label>
			<input type="text" class="form-control d-inline" id="institucion" aria-describedby="Institución" placeholder="Ingrese Institución">

		  <button type="submit" class="btn btn-primary ml-5">Buscar</button>
		  </div>
		  	<table class="table">
			  <thead>
				<tr>
				  <th scope="col">ID</th>
				  <th scope="col">NOMBRE</th>
				  <th scope="col">IDENTIFICADOR</th>
				  <th scope="col">ES ACTIVO</th>
				  <th scope="col">USUARIO</th>
				  <th scope="col">FECHA</th>
				</tr>
			  </thead>
			  <tbody>
			  @for(var i=0;i<ViewBag.institucions.Count;i++){
				  <tr>
				  <th scope="row">@ViewBag.institucions[0].ID</th>
				  <td>@ViewBag.institucions[i].Nombre</td>
				  <td>@ViewBag.institucions[i].Identificador</td>
				  <td>@ViewBag.institucions[i].EsActivo</td>
				  <td>@ViewBag.institucions[i].Usuario</td>
				  <td>@ViewBag.institucions[i].Fecha.ToString("yyyy-MM-dd")</td>
				</tr>	
			  }
  </tbody>
</table>
      </div>
    </div>
  </div>
</div>

<div class="modal  fade" id="modalTarjetas" tabindex="-1" role="dialog" aria-labelledby="modalTarjetas" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Tarjetas</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		  <div class="form-group">
			<label for="tarjetas" class="d-block ">Tarjetas</label>
			<input type="text" class="form-control d-inline" id="tarjetas" aria-describedby="Tarjetas" placeholder="Ingrese Tarjeta">
		  <button type="submit" class="btn btn-primary ml-5">Buscar</button>
		  </div>
			<table class="table">
			  <thead>
				<tr>
				  <th scope="col">ID</th>
				  <th scope="col">NOMBRE</th>
				  <th scope="col">IDENTIFICADOR</th>
				  <th scope="col">ES ACTIVO</th>
				  <th scope="col">USUARIO</th>
				  <th scope="col">FECHA</th>
				</tr>
			  </thead>
			  <tbody>
			  @for(var i=0;i<ViewBag.institucions.Count;i++){
				  <tr>
				  <th scope="row">@ViewBag.institucions[0].ID</th>
				  <td>@ViewBag.institucions[i].Nombre</td>
				  <td>@ViewBag.institucions[i].Identificador</td>
				  <td>@ViewBag.institucions[i].EsActivo</td>
				  <td>@ViewBag.institucions[i].Usuario</td>
				  <td>@ViewBag.institucions[i].Fecha.ToString("yyyy-MM-dd")</td>
				</tr>	
			  }
  </tbody>
</table>
      </div>

    </div>
  </div>
</div>
